[user]
	name = Sergey Karatach
	email = karatach1998@gmail.com
[core]
	editor = vim
[color]
	ui = auto
[alias]
	last = log -1 HEAD
	pretty-log = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\"
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[credential]
	helper = cache # To cache the SSH password.
